/* line 1, ../../_scss/sp/_common.scss */
.main-area {
  padding: 35px 0;
}
/* line 2, ../../_scss/sp/_common.scss */
.main-area .breadcrumb {
  margin: 0 8px;
  font-size: 16px;
}
/* line 6, ../../_scss/sp/_common.scss */
.main-area h2 {
  margin: 8px;
  font-size: 50px;
}
/* line 11, ../../_scss/sp/_common.scss */
.main-area .content-session {
  margin: 35px 8px;
  padding: 20px;
}

/* line 2, ../../_scss/sp/_color-dialog.scss */
.color-dialog .splash1,
.color-dialog .splash2 {
  position: absolute;
  display: none;
  z-index: 5;
}
/* line 8, ../../_scss/sp/_color-dialog.scss */
.color-dialog .splash1 {
  top: -150px;
  left: -150px;
  width: 400px;
  height: 400px;
}
/* line 14, ../../_scss/sp/_color-dialog.scss */
.color-dialog .splash2 {
  bottom: -30px;
  right: -30px;
  width: 200px;
  height: 200px;
}
/* line 20, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 310px;
  margin: -155px -150px;
  padding: 25px 0;
  background: #eee;
  text-align: center;
}
/* line 30, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .festitle {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #222;
}
/* line 35, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .theme {
  margin-top: 15px;
}
/* line 37, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .theme .label {
  font-size: 12px;
}
/* line 40, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .theme .main-theme {
  margin: 8px 0 5px;
  font-size: 30px;
  letter-spacing: 0.1em;
}
/* line 45, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .theme .sub-theme {
  font-size: 15px;
}
/* line 49, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .icon-arrow {
  margin: 20px 0 0;
  font-size: 12px;
  color: #555;
}
/* line 54, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .choose-color {
  position: relative;
  width: 100%;
  height: 40px;
}
/* line 58, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 40px;
  opacity: 0;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  -moz-transition: opacity 0.5s ease, top 0.3s ease;
  -o-transition: opacity 0.5s ease, top 0.3s ease;
  -webkit-transition: opacity 0.5s ease, top 0.3s ease;
  transition: opacity 0.5s ease, top 0.3s ease;
}
/* line 69, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text[data-state="active"] {
  opacity: 1;
  top: 0;
  display: block;
}
/* line 74, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text[data-state="next"] {
  top: -35px;
  display: block;
}
/* line 78, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text[data-state="prev"] {
  top: 35px;
  display: block;
}
/* line 84, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .color-palette {
  position: relative;
  z-index: 1;
  margin: 20px 20px 15px;
}
/* line 88, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .color-palette .color-btn {
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  background: none;
  outline: 0;
  cursor: pointer;
}
/* line 96, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .color-palette .color-btn .btn-svg {
  width: 35px;
  height: 35px;
}
/* line 102, ../../_scss/sp/_color-dialog.scss */
.color-dialog .dialog-content .choose-help {
  margin-top: 15px;
  font-size: 12px;
  color: #454545;
}

/* line 1, ../../_scss/sp/_header.scss */
.global-header {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 233px;
  margin-bottom: -15px;
  padding: 14px 0 10px;
  background: url(/_files/img/bg_block.jpg);
  box-shadow: 0 0 8px #000;
  z-index: 10;
}
/* line 11, ../../_scss/sp/_header.scss */
.global-header h1 {
  overflow: hidden;
  width: 213.33333px;
  height: 0;
  margin: 5px auto 0;
  padding-top: 161.33333px;
  background: url(/_files/img/logo.png);
  background-size: 100% 100%;
}
/* line 20, ../../_scss/sp/_header.scss */
.global-header .global-nav {
  position: relative;
  width: 300px;
  height: 50px;
  margin: 13px auto 0;
}
/* line 25, ../../_scss/sp/_header.scss */
.global-header .global-nav .navigator-btn {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 280px;
  height: 40px;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 8px -2px #111, inset 0 5px 5px -5px #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #d9d9d9;
  text-shadow: 0 0 2px rgba(69, 69, 69, 0.6), 0 2px 1px rgba(57, 57, 57, 0.6), 0 2px 4px rgba(89, 89, 89, 0.3);
  pointer-events: none;
}
/* line 41, ../../_scss/sp/_header.scss */
.global-header .global-nav .navigator-btn .btn-icon-left,
.global-header .global-nav .navigator-btn .btn-icon-right {
  display: block;
  height: 40px;
  line-height: 40px;
}
/* line 47, ../../_scss/sp/_header.scss */
.global-header .global-nav .navigator-btn .btn-icon-left {
  float: left;
  font-size: 20px;
}
/* line 51, ../../_scss/sp/_header.scss */
.global-header .global-nav .navigator-btn .btn-icon-right {
  float: right;
  font-size: 18px;
}
/* line 55, ../../_scss/sp/_header.scss */
.global-header .global-nav .navigator-btn .btn-text {
  margin-left: 10px;
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
}
/* line 62, ../../_scss/sp/_header.scss */
.global-header .global-nav select {
  display: block;
  width: 300px;
  height: 50px;
  opacity: 0;
}

/* line 1, ../../_scss/sp/_footer.scss */
.global-footer {
  width: 100%;
  padding-bottom: 20px;
  box-shadow: inset 0px 150px 150px -150px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 6, ../../_scss/sp/_footer.scss */
.global-footer .jump-top {
  overflow: hidden;
  display: block;
  width: 315px;
  margin: 0 auto;
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.4);
}
/* line 13, ../../_scss/sp/_footer.scss */
.global-footer .jump-top .icon,
.global-footer .jump-top .text {
  float: left;
  display: block;
  line-height: 50px;
}
/* line 19, ../../_scss/sp/_footer.scss */
.global-footer .jump-top .icon {
  width: 45px;
  font-size: 40px;
}
/* line 23, ../../_scss/sp/_footer.scss */
.global-footer .jump-top .text {
  width: 270px;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}
/* line 30, ../../_scss/sp/_footer.scss */
.global-footer .social-btns {
  overflow: hidden;
  width: 60px;
  height: 43px;
  margin: 0 auto;
}
/* line 35, ../../_scss/sp/_footer.scss */
.global-footer .social-btns li {
  float: left;
}
/* line 37, ../../_scss/sp/_footer.scss */
.global-footer .social-btns li .social-btn-anchor {
  position: relative;
  overflow: hidden;
  display: block;
  width: 40px;
  height: 0;
  margin: 0 10px;
  padding-top: 40px;
  background: #d9d9d9;
  border-radius: 12px;
  box-shadow: 0 3px 0 #393939;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
/* line 49, ../../_scss/sp/_footer.scss */
.global-footer .social-btns li .social-btn-anchor .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3b322d;
  font-size: 16px;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 61, ../../_scss/sp/_footer.scss */
.global-footer .social-btns li .social-btn-anchor:hover {
  top: 3px;
  box-shadow: none;
}
/* line 64, ../../_scss/sp/_footer.scss */
.global-footer .social-btns li .social-btn-anchor:hover.twitter {
  background: #55acee;
}
/* line 67, ../../_scss/sp/_footer.scss */
.global-footer .social-btns li .social-btn-anchor:hover .icon {
  color: #fff;
}
/* line 74, ../../_scss/sp/_footer.scss */
.global-footer .footer-nav {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 18px auto 5px;
}
/* line 79, ../../_scss/sp/_footer.scss */
.global-footer .footer-nav .footer-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #eee;
  background: rgba(238, 238, 238, 0.05);
  color: #eee;
  line-height: 28px;
  font-size: 15px;
  letter-spacing: 0.15em;
  pointer-events: none;
}
/* line 93, ../../_scss/sp/_footer.scss */
.global-footer .footer-nav .footer-nav-wrapper::after {
  content: "\f107";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-family: FontAwesome;
}
/* line 106, ../../_scss/sp/_footer.scss */
.global-footer .footer-nav select {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 30px;
  opacity: 0;
}
/* line 115, ../../_scss/sp/_footer.scss */
.global-footer .change-mycolor {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 15px auto;
}
/* line 120, ../../_scss/sp/_footer.scss */
.global-footer .change-mycolor .change-btn {
  display: block;
  width: 60px;
  height: 60px;
  margin: 15px auto;
  border: 0;
  outline: none;
  background: none;
  line-height: 60px;
  text-align: center;
}
/* line 130, ../../_scss/sp/_footer.scss */
.global-footer .change-mycolor .change-btn .myc-svg {
  -moz-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
/* line 134, ../../_scss/sp/_footer.scss */
.global-footer .change-mycolor .color-palette {
  position: absolute;
  left: 50%;
  width: 240px;
  margin: 0 -120px;
  padding: 10px;
}
/* line 143, ../../_scss/sp/_footer.scss */
.global-footer .copyright {
  display: block;
  margin: 25px auto 0;
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 2px 2px #555;
  color: #fff;
}
