@charset "UTF-8";
/* line 1, ../../_scss/pc/_sidebar.scss */
.sidebar {
  float: left;
  overflow: hidden;
  position: relative;
  width: 245px;
  z-index: 5;
  background: url(/_files/img/bg_block.jpg);
  box-shadow: 0 0 8px #000;
}
/* line 9, ../../_scss/pc/_sidebar.scss */
.sidebar .sidebar-area {
  position: relative;
  padding-bottom: 30px;
  /*
   * Sidebar making order
   * 1．ff:M+ 2c Ultra-Bold fz35 c#d9d9d9
   * 2．DropShadow 0 0 2 #454545 60.0
   * 3．(2.) -> DropShadow 0 2 1 #393939 60.0
   * 4．(3.) -> DropShadow 0 2 4 #595959 30.0
   */
}
/* line 4, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu {
  position: relative;
  width: 100%;
}
/* line 7, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item {
  width: 250px;
  margin: 0 auto;
}
/* line 10, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor {
  position: relative;
  display: block;
  padding: 10px 15px;
}
/* line 14, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text {
  overflow: hidden;
  display: block;
  width: 200px;
  height: 0;
  padding-top: 46px;
}
/* line 20, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.top {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -607px;
}
/* line 23, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.greet {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -302px;
}
/* line 26, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.fesguide {
  padding-top: 82px;
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -138px;
}
/* line 30, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.timetable {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -515px;
}
/* line 33, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.blog {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -46px;
}
/* line 36, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.sponsor {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -469px;
}
/* line 39, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.members {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -348px;
}
/* line 42, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.access {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 0;
}
/* line 45, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .text.contact {
  background: url('/_files/img/sidebar-menu-s9e9b1b18c2.png') 0 -92px;
}
/* line 49, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .sidebar-splash {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 177px;
  height: 75px;
  margin: -37.5px -88.5px;
  opacity: 1;
  z-index: -1;
  -moz-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}
/* line 61, ../../_scss/pc/_sidebar-menu.scss */
.sidebar .sidebar-area .sidebar-menu .menu-item .item-anchor .sidebar-splash .active-splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 177px;
  height: 75px;
}
/* line 14, ../../_scss/pc/_sidebar.scss */
.sidebar .sidebar-bland {
  overflow: hidden;
  width: 245px;
  height: 0;
  padding-top: 230px;
  background: url(/_files/img/logo.png) no-repeat center center;
  background-size: 230px auto;
}

/* line 1, ../../_scss/pc/_common.scss */
[ng-include] {
  height: 0;
}

/* line 5, ../../_scss/pc/_common.scss */
.body-container {
  overflow: hidden;
}

/* line 9, ../../_scss/pc/_common.scss */
.main-area {
  margin-left: 245px;
}
/* line 11, ../../_scss/pc/_common.scss */
.main-area .breadcrumb {
  margin: 20px 25px 0;
  font-size: 18px;
}
/* line 15, ../../_scss/pc/_common.scss */
.main-area h2 {
  margin: 8px 25px 12px;
  font-size: 80px;
}
/* line 19, ../../_scss/pc/_common.scss */
.main-area .content-session {
  padding: 20px;
}
/* line 20, ../../_scss/pc/_common.scss */
.main-area .content-session, .main-area .content-session.normal {
  max-width: 640px;
}
/* line 23, ../../_scss/pc/_common.scss */
.main-area .content-session.wide {
  max-width: 1000px;
}

/* line 1, ../../_scss/pc/_footer.scss */
.global-footer {
  width: 100%;
  padding-bottom: 20px;
  box-shadow: inset 0px 150px 150px -150px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 6, ../../_scss/pc/_footer.scss */
.global-footer .jump-top {
  overflow: hidden;
  display: block;
  width: 360px;
  margin: 0 auto;
  padding: 15px 40px;
  color: rgba(0, 0, 0, 0.4);
}
/* line 13, ../../_scss/pc/_footer.scss */
.global-footer .jump-top .icon,
.global-footer .jump-top .text {
  float: left;
  display: block;
  line-height: 50px;
}
/* line 19, ../../_scss/pc/_footer.scss */
.global-footer .jump-top .icon {
  width: 40px;
  font-size: 35px;
}
/* line 23, ../../_scss/pc/_footer.scss */
.global-footer .jump-top .text {
  width: 320px;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  letter-spacing: 5px;
}
/* line 31, ../../_scss/pc/_footer.scss */
.global-footer .share-btns {
  overflow: hidden;
  width: 120px;
  height: 43px;
  margin: 0 auto;
}
/* line 37, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li {
  float: left;
}
/* line 39, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor {
  position: relative;
  overflow: hidden;
  display: block;
  width: 40px;
  height: 0;
  margin: 0 10px;
  padding-top: 40px;
  background: #d9d9d9;
  border-radius: 12px;
  box-shadow: 0 3px 0 #393939;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
/* line 51, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3b322d;
  font-size: 16px;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 63, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor .svg-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  fill: #3b322d;
  -moz-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  -webkit-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}
/* line 72, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover {
  top: 3px;
  box-shadow: none;
}
/* line 75, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover.twitter {
  background: #55acee;
}
/* line 78, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover.facebook {
  background: #315096;
}
/* line 81, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover.googleplus {
  background: #dd4b39;
}
/* line 84, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover.mail {
  background: #a4c439;
}
/* line 87, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover.hatebu {
  background: #008fde;
}
/* line 90, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover .icon {
  color: #fff;
}
/* line 93, ../../_scss/pc/_footer.scss */
.global-footer .share-btns li .share-btn-anchor:hover .svg-icon {
  fill: #fff;
}
/* line 100, ../../_scss/pc/_footer.scss */
.global-footer .footer-nav {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  margin: 15px 0 10px;
}
/* line 104, ../../_scss/pc/_footer.scss */
.global-footer .footer-nav li {
  float: left;
}
/* line 106, ../../_scss/pc/_footer.scss */
.global-footer .footer-nav li:not(:last-child) {
  border-right: 2px solid  #352b27;
}
/* line 109, ../../_scss/pc/_footer.scss */
.global-footer .footer-nav li a {
  display: block;
  padding: 5px 20px;
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
  text-shadow: 0 1px 0 #140f0e;
}
/* line 118, ../../_scss/pc/_footer.scss */
.global-footer .footer-nav::after {
  content: "";
  clear: left;
}
/* line 123, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 15px auto;
}
/* line 128, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .change-btn {
  display: block;
  width: 60px;
  height: 60px;
  margin: 15px auto;
  border: 0;
  outline: none;
  background: none;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
/* line 139, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .change-btn .myc-svg {
  -moz-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
/* line 143, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette {
  position: absolute;
  top: -110px;
  left: 50%;
  width: 740px;
  margin: 0 -370px;
  padding: 5px 0 20px;
  z-index: -1;
}
/* line 151, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container {
  overflow: hidden;
  height: 60px;
  padding: 15px 100px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 160, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li {
  float: left;
}
/* line 162, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn {
  overflow: hidden;
  display: block;
  width: 40px;
  height: 0;
  margin: 10px;
  padding-top: 40px;
  background: #eff;
  border-radius: 100%;
  cursor: pointer;
}
/* line 172, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn:hover {
  width: 50px;
  padding-top: 50px;
  margin: 5px;
}
/* line 177, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-0 {
  background: #d6031e;
}
/* line 180, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-1 {
  background: #fe7702;
}
/* line 183, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-2 {
  background: #fae103;
}
/* line 186, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-3 {
  background: #98d909;
}
/* line 189, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-4 {
  background: #33bb1b;
}
/* line 192, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-5 {
  background: #97c5ff;
}
/* line 195, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-6 {
  background: #0250b4;
}
/* line 198, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-7 {
  background: #931e87;
}
/* line 201, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li .color-btn.color-8 {
  background: #191919;
}
/* line 205, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li input {
  display: none;
}
/* line 207, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor .color-palette .palette-container .color-palette-colors li input:checked + .color-btn {
  width: 60px;
  padding-top: 60px;
  margin: 0;
  cursor: default;
}
/* line 219, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor:hover .color-palette {
  z-index: 99;
}
/* line 221, ../../_scss/pc/_footer.scss */
.global-footer .change-mycolor:hover .color-palette .palette-container {
  opacity: 1;
}
/* line 227, ../../_scss/pc/_footer.scss */
.global-footer .copyright {
  display: block;
  margin: 10px auto 8px;
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 2px 2px #555;
  color: #fff;
}

/* line 2, ../../_scss/pc/_color-dialog.scss */
.color-dialog .splash1,
.color-dialog .splash2 {
  position: absolute;
  display: none;
  z-index: 5;
}
/* line 8, ../../_scss/pc/_color-dialog.scss */
.color-dialog .splash1 {
  top: -250px;
  left: -250px;
  width: 600px;
  height: 600px;
}
/* line 14, ../../_scss/pc/_color-dialog.scss */
.color-dialog .splash2 {
  bottom: -80px;
  right: -80px;
  width: 300px;
  height: 300px;
}
/* line 20, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 230px;
  margin: -135px -260px;
  padding: 40px 20px;
  background: #fff;
}
/* line 29, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .festitle {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #222;
}
/* line 35, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .theme {
  overflow: hidden;
  position: relative;
  width: 502px;
  margin: 0 auto;
  z-index: 1;
}
/* line 41, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .theme > * {
  float: left;
  line-height: 50px;
  text-align: center;
}
/* line 46, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .theme .label {
  width: 50px;
  margin-right: 12px;
  font-size: 16px;
  color: #333;
}
/* line 52, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .theme .main-theme {
  width: 150px;
  font-size: 35px;
}
/* line 56, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .theme .sub-theme {
  width: 285px;
  margin-left: 5px;
  font-size: 25px;
  letter-spacing: 0.1em;
}
/* line 63, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .icon-arrow {
  display: block;
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  color: #555;
}
/* line 70, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .choose-color {
  position: relative;
  width: 450px;
  height: 50px;
  margin: 0 auto;
}
/* line 75, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text {
  position: absolute;
  top: 0;
  display: none;
  width: 450px;
  height: 50px;
  text-align: center;
  opacity: 0;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 0.1em;
  color: #000;
  -moz-transition: opacity 0.5s ease, top 0.3s ease;
  -o-transition: opacity 0.5s ease, top 0.3s ease;
  -webkit-transition: opacity 0.5s ease, top 0.3s ease;
  transition: opacity 0.5s ease, top 0.3s ease;
}
/* line 88, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text[data-state="active"] {
  opacity: 1;
  top: 0;
  display: block;
}
/* line 93, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text[data-state="next"] {
  top: -35px;
  display: block;
}
/* line 97, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .choose-color .choose-text[data-state="prev"] {
  top: 35px;
  display: block;
}
/* line 103, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .color-palette {
  overflow: hidden;
  position: relative;
  width: 450px;
  margin: 10px auto 0;
  text-align: center;
  z-index: 1;
}
/* line 110, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .color-palette .color-btn {
  float: left;
  display: block;
  width: 50px;
  height: 45px;
  padding: 0;
  border: none;
  background: none;
  outline: 0;
  cursor: pointer;
}
/* line 120, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .color-palette .color-btn .btn-svg {
  width: 40px;
  height: 40px;
}
/* line 126, ../../_scss/pc/_color-dialog.scss */
.color-dialog .dialog-content .choose-help {
  clear: left;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: #454545;
}
