/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Mplus";
  src: local("M+ 1p regular"), url(/_files/fonts/mplus/mplus-1p-regular.ttf), url(/_files/fonts/mplus/mplus-1p-regular.woff);
  font-weight: normal;
}
@font-face {
  font-family: "Mplus";
  src: local("M+ 1p thin"), url(/_files/fonts/mplus/mplus-1p-thin.ttf), url(/_files/fonts/mplus/mplus-1p-thin.woff);
  font-weight: 200;
}
@font-face {
  font-family: "Mplus";
  src: local("M+ 1p black"), url(/_files/fonts/mplus/mplus-1p-black.ttf), url(/_files/fonts/mplus/mplus-1p-black.woff);
  font-weight: bold;
}
/* line 6, ../../_scss/common.scss */
body {
  background: url(/_files/img/bg_ground.jpg);
  font-family: "Mplus", sans_serif;
  font-weight: normal;
}
/* line 10, ../../_scss/common.scss */
body.scroll-off {
  overflow: hidden;
}

/* line 15, ../../_scss/common.scss */
img:not(.free-weidth) {
  max-width: 100%;
}

/* line 1, ../../_scss/_utilities.scss */
.float-left {
  float: left;
}

/* line 4, ../../_scss/_utilities.scss */
.float-right {
  float: right;
}

/* line 7, ../../_scss/_utilities.scss */
.float-clear {
  clear: both;
}

/* line 21, ../../_scss/common.scss */
.myc-color {
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
}

/* line 25, ../../_scss/common.scss */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}
/* line 33, ../../_scss/common.scss */
.loader .color-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px;
  background: #f00;
  border-radius: 100%;
  box-shadow: 0 2px 8px -1px #555;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 56, ../../_scss/common.scss */
.body-container {
  overflow: hidden;
  width: 100%;
  background: url(/_files/img/bg_canvas.jpg);
}

/* line 62, ../../_scss/common.scss */
.main-area {
  overflow: hidden;
  position: relative;
}
/* line 65, ../../_scss/common.scss */
.main-area .breadcrumb {
  position: relative;
  z-index: 1;
  font-size: 20px;
}
/* line 69, ../../_scss/common.scss */
.main-area .breadcrumb .breadcrumb-item {
  margin-top: 10px;
}
/* line 71, ../../_scss/common.scss */
.main-area .breadcrumb .breadcrumb-item::after {
  content: "\f105";
  font-family: FontAwesome;
  margin-left: 0.5em;
  color: rgba(0, 0, 0, 0.55);
}
/* line 77, ../../_scss/common.scss */
.main-area .breadcrumb .breadcrumb-item a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  font-weight: normal;
}
/* line 81, ../../_scss/common.scss */
.main-area .breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}
/* line 87, ../../_scss/common.scss */
.main-area h2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  z-index: 1;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.1em;
  letter-spacing: -0.05em;
}
/* line 96, ../../_scss/common.scss */
.main-area .content-session,
.main-area .main-content {
  z-index: 2;
  position: relative;
}
/* line 101, ../../_scss/common.scss */
.main-area .content-session {
  display: block;
  margin: 20px auto;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #222;
  font-size: 15px;
  line-height: 1.5;
  background: url(/_files/img/bg_paper.jpg);
}
/* line 111, ../../_scss/common.scss */
.main-area .content-session h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #444;
  text-shadow: 1px 1px 0 #888;
}
/* line 117, ../../_scss/common.scss */
.main-area .content-session a {
  margin: 0 2px;
  color: #191919;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 123, ../../_scss/common.scss */
.main-area > svg {
  z-index: 1;
}

/* line 128, ../../_scss/common.scss */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* line 1, ../../_scss/common/_color-dialog.scss */
.color-dialog {
  display: none;
  background: #fff;
  -moz-transition: background 0.3s ease, opacity 0.5s ease 0.5s;
  -o-transition: background 0.3s ease, opacity 0.5s ease 0.5s;
  -webkit-transition: background 0.3s ease, opacity 0.5s ease;
  -webkit-transition-delay: 0s, 0.5s;
  transition: background 0.3s ease, opacity 0.5s ease 0.5s;
}
