.color-dialog {
	.splash1,
	.splash2 {
		position: absolute;
		display: none;
		z-index: 5;
	}
	.splash1 {
		top: -250px;
		left: -250px;
		width: 600px;
		height: 600px;
	}
	.splash2 {
		bottom: -80px;
		right: -80px;
		width: 300px;
		height: 300px;
	}
	.dialog-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		height: 230px;
		margin: -135px -260px;
		padding: 40px 20px;
		background: #fff;
		.festitle {
			font-size: 20px;
			text-align: center;
			letter-spacing: 0.1em;
			color: #222;
		}
		.theme {
			overflow: hidden;
			position: relative;
			width: 502px;
			margin: 0 auto;
			z-index: 1;
			& > * {
				float: left;
				line-height: 50px;
				text-align: center;
			}
			.label {
				width: 50px;
				margin-right: 12px;
				font-size: 16px;
				color: #333;
			}
			.main-theme {
				width: 150px;
				font-size: 35px;
			}
			.sub-theme {
				width: 285px;
				margin-left: 5px;
				font-size: 25px;
				letter-spacing: 0.1em;
			}
		}
		.icon-arrow {
			display: block;
			margin: 8px 0;
			text-align: center;
			font-size: 16px;
			color: #555;
		}
		.choose-color {
			position: relative;
			width: 450px;
			height: 50px;
			margin: 0 auto;
			.choose-text {
				position: absolute;
				top: 0;
				display: none;
				width: 450px;
				height: 50px;
				line-height: 35px;
				text-align: center;
				opacity: 0;
				font-size: 20px;
				line-height: 50px;
				letter-spacing: 0.1em;
				color: #000;
				@include transition(opacity .5s ease, top .3s ease);
				&[data-state="active"] {
					opacity: 1;
					top: 0;
					display: block;
				}
				&[data-state="next"] {
					top: -35px;
					display: block;
				}
				&[data-state="prev"] {
					top: 35px;
					display: block;
				}
			}
		}
		.color-palette {
			overflow: hidden;
			position: relative;
			width: 450px;
			margin: 10px auto 0;
			text-align: center;
			z-index: 1;
			.color-btn {
				float: left;
				display: block;
				width: 50px;
				height: 45px;
				padding: 0;
				border: none;
				background: none;
				outline: 0;
				cursor: pointer;
				.btn-svg {
					width: 40px;
					height: 40px;
				}
			}
		}
		.choose-help {
			clear: left;
			margin-top: 15px;
			text-align: center;
			font-size: 14px;
			line-height: 30px;
			color: #454545;
		}
	}
}