[ng-include] {
	height: 0;
}

.body-container {
	overflow: hidden;
}

.main-area {
	overflow: hidden;
	position: relative;
	margin-left: 245px;
	z-index: 1;
	.content-session {
		&, &.normal {
			max-width: 640px;
		}
		&.wide {
			max-width: 1000px;
		}
		padding: 20px;
	}
}