[ng-include] {
	height: 0;
}

.body-container {
	overflow: hidden;
}

.main-area {
	margin-left: 245px;
	.breadcrumb {
		margin: 20px 25px 0;
		font-size: 18px;
	}
	h2 {
		margin: 8px 25px 12px;
		font-size: 80px;
	}
	.content-session {
		&, &.normal {
			max-width: 640px;
		}
		&.wide {
			max-width: 1000px;
		}
		padding: 20px;
	}
}