.sidebar {
	float: left;
	overflow: hidden;
	position: relative;
	width: 245px;
	z-index: 5;
	background: url(/_files/img/bg_block.jpg);
	box-shadow: 0 0 8px #000;
	.sidebar-area {
		position: relative;
		padding-bottom: 30px;
		@import "sidebar-menu";
	}
	.sidebar-bland {
		overflow: hidden;
		width: 245px;
		height: 0;
		padding-top: 230px;
		background: url(/_files/img/logo.png) no-repeat center center;
		background-size: 230px auto;
	}
}