// @import "sidebar-menu/*.png";
$sidebar-menus: sprite-map("sidebar-menu/*.png");

.sidebar-menu {
	position: relative;
	width: 100%;
	.menu-item {
		width: 250px;
		margin: 0 auto;
		.item-anchor {
			position: relative;
			display: block;
			padding: 10px 15px;
			.text {
				overflow: hidden;
				display: block;
				width: 200px;
				height: 0;
				padding-top: 46px;
				&.top {
					background: sprite($sidebar-menus, top);
				}
				&.greet {
					background: sprite($sidebar-menus, greet);
				}
				&.fesguide {
					padding-top: 82px;
					background: sprite($sidebar-menus, fesguide);
				}
				&.timetable {
					background: sprite($sidebar-menus, timetable);
				}
				&.blog {
					background: sprite($sidebar-menus, blog);
				}
				&.sponsor {
					background: sprite($sidebar-menus, sponsor);
				}
				&.members {
					background: sprite($sidebar-menus, members);
				}
				&.access {
					background: sprite($sidebar-menus, access);
				}
				&.contact {
					background: sprite($sidebar-menus, contact);
				}
			}
			.sidebar-splash {
				overflow: hidden;
				position: absolute;
				top: 50%;
				left: 50%;
				display: none;
				width: 177px;
				height: 75px;
				margin: -37.5px -88.5px;
				opacity: 1;
				z-index: -1;
				@include transition(width .1s linear);
				.active-splash {
					position: absolute;
					top: 0;
					left: 0;
					width: 177px;
					height: 75px;
				}
			}
		}
		// &:nth-last-child(1),
		// &:nth-last-child(2),
		// &:nth-last-child(3) {
		// 	float: left;
		// 	width: 68px;
		// 	.item-anchor {
		// 		display: block;
		// 		padding: 0 10px;
		// 		.text {
		// 			overflow: hidden;
		// 			display: block;
		// 			width: 48px;
		// 			height: 0;
		// 			padding-top: 48px;
		// 			&.members {
		// 				background: sprite($sidebar-menus, members);
		// 			}
		// 			&.access {
		// 				background: sprite($sidebar-menus, access);
		// 			}
		// 			&.contact {
		// 				background: sprite($sidebar-menus, contact);
		// 			}
		// 		}
		// 	}
		// }
		// &:nth-last-child(3) {
		// 	margin-left: 20.5px;
		// }
	}
}

/*
 * Sidebar making order
 * 1．ff:M+ 2c Ultra-Bold fz35 c#d9d9d9
 * 2．DropShadow 0 0 2 #454545 60.0
 * 3．(2.) -> DropShadow 0 2 1 #393939 60.0
 * 4．(3.) -> DropShadow 0 2 4 #595959 30.0
 */