.top-slider {
	width: 100%;
	margin: -35px 0 15px;
	padding: 0 0 15px;
	background: url(/_files/img/bg_block.jpg) center bottom;
	box-shadow: 0 5px 5px rgba(#222, 0.7);
	img {
		width: 100%;
	}
}

.update-history {
	.update-item {
		margin: 0 5px;
		padding: 12px 10px;
		line-height: 25px;
		border-top: 2px dotted  #aaa;
		&:last-child {
			border-bottom: 2px dotted  #aaa;
		}
		.date {
			font-size: 15px;
			color: #333;
		}
		.content {
			margin-left: 12px;
			padding: 0 10px;
			border-bottom: 1px dotted  #aaa;
			font-size: 14px;
			line-height: 30px;
			&:last-child {
				border: 0;
			}
		}
	}
}