/* line 1, ../../../_scss/sp/index.scss */
.top-slider {
  width: 100%;
  margin: -35px 0 15px;
  padding: 0 0 15px;
  background: url(/_files/img/bg_block.jpg) center bottom;
  box-shadow: 0 5px 5px rgba(34, 34, 34, 0.7);
}
/* line 7, ../../../_scss/sp/index.scss */
.top-slider img {
  width: 100%;
}

/* line 13, ../../../_scss/sp/index.scss */
.update-history .update-item {
  margin: 0 5px;
  padding: 12px 10px;
  line-height: 25px;
  border-top: 2px dotted  #aaa;
}
/* line 18, ../../../_scss/sp/index.scss */
.update-history .update-item:last-child {
  border-bottom: 2px dotted  #aaa;
}
/* line 21, ../../../_scss/sp/index.scss */
.update-history .update-item .date {
  font-size: 15px;
  color: #333;
}
/* line 25, ../../../_scss/sp/index.scss */
.update-history .update-item .content {
  margin-left: 12px;
  padding: 0 10px;
  border-bottom: 1px dotted  #aaa;
  font-size: 14px;
  line-height: 30px;
}
/* line 31, ../../../_scss/sp/index.scss */
.update-history .update-item .content:last-child {
  border: 0;
}
