@font-face {
	font-family: "Mplus";
	src: url(/_files/fonts/mplus/mplus-1p-regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: "Mplus";
	src: url(/_files/fonts/mplus/mplus-1p-thin.ttf);
	font-weight: 200;
}
@font-face {
	font-family: "Mplus";
	src: url(/_files/fonts/mplus/mplus-1p-black.ttf);
	font-weight: bold;
}