@import "compass";
@import "compass/reset";

@import "fonts";

body {
	background: url(/_files/img/bg_ground.jpg);
	font-family: "Mplus", sans_serif;
	font-weight: normal;
	&.scroll-off {
		overflow: hidden;
	}
}

img:not(.free-weidth) {
	min-width: 100%;
}

@import "utilities";

.myc-color {
	@include transition(color .4s linear);
}

.body-container {
	overflow: hidden;
	width: 100%;
	background: url(/_files/img/bg_canvas.jpg);
}

.main-area {
	z-index: 1;
	.content-session {
		display: block;
		margin: 20px auto;
		box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5),
					0 0 3px rgba(0,0,0,0.2);
		border-radius: 2px;
		color: #222;
		background: url(/_files/img/bg_paper.jpg);
		h2 {
			margin-bottom: 10px;
			font-size: 18px;
			color: #444;
			text-shadow: 1px 1px 0 #888;
		}
		a {
			margin: 0 2px;
			color: #191919;
			@include transition(color linear .1s);
		}
	}
	& > svg {
		z-index: -1;
	}
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

@import "common/color-dialog"