@import "compass";
@import "compass/reset";

@import "fonts";

body {
	background: url(/_files/img/bg_ground.jpg);
	font-family: "Mplus", sans_serif;
	font-weight: normal;
	&.scroll-off {
		overflow: hidden;
	}
}

img:not(.free-weidth) {
	max-width: 100%;
}

@import "utilities";

.myc-color {
	@include transition(color .4s linear);
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	.color-circle {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		margin: -25px;
		background: #f00;
		border-radius: 100%;
		box-shadow: 0 2px 8px -1px #555;
		@include transition(color .5s linear);
	}
}

@include keyframes(spin) {
	0% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}

.body-container {
	overflow: hidden;
	width: 100%;
	background: url(/_files/img/bg_canvas.jpg);
}

.main-area {
	overflow: hidden;
	position: relative;
	.breadcrumb {
		position: relative;
		z-index: 1;
		font-size: 20px;
		.breadcrumb-item {
			margin-top: 10px;
			&::after {
				content: "\f105";
				font-family: FontAwesome;
				margin-left: 0.5em;
				color: rgba(#000, 0.55);
			}
			a {
				color: rgba(#000, 0.55);
				text-decoration: none;
				font-weight: normal;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	h2 {
		position: relative;
		@include inline-block;
		z-index: 1;
		font-weight: bold;
		color: rgba(#000, 0.6);
		line-height: 1.1em;
		letter-spacing: -0.05em;
	}
	.content-session,
	.main-content {
		z-index: 2;
		position: relative;
	}
	.content-session {
		display: block;
		margin: 20px auto;
		box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5),
					0 0 3px rgba(0,0,0,0.2);
		border-radius: 2px;
		color: #222;
		font-size: 15px;
		line-height: 1.5;
		background: url(/_files/img/bg_paper.jpg);
		h3 {
			margin-bottom: 10px;
			font-size: 18px;
			color: #444;
			text-shadow: 1px 1px 0 #888;
		}
		a {
			margin: 0 2px;
			color: #191919;
			@include transition(color linear .1s);
		}
	}
	& > svg {
		z-index: 1;
	}
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

@import "common/color-dialog"