@import "compass";
@import "compass/reset";

body {
	background: url(/_files/img/bg_ground.jpg);
	&.scroll-off {
		overflow: hidden;
	}
}

img:not(.free-weidth) {
	min-width: 100%;
}

@import "utilities";

.body-container {
	overflow: hidden;
	width: 100%;
	background: url(/_files/img/bg_canvas.jpg);
}

.main-area {
	.content-session {
		display: block;
		margin: 0 auto;
		box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5),
					0 0 3px rgba(0,0,0,0.2);
		border-radius: 2px;
		color: #222;
		background: url(/_files/img/bg_paper.jpg);
		h2 {
			margin-bottom: 10px;
			font-size: 18px;
			color: #444;
			text-shadow: 1px 1px 0 #888;
		}
		a {
			margin: 0 2px;
			color: #191919;
			@include transition(color linear .1s);
		}
	}
}