@charset "UTF-8";
/* line 4, ../../../_scss/common/sponsor.scss */
.sponsor-guide-summary p {
  margin: 8px 12px;
  line-height: 1.2em;
}
/* line 8, ../../../_scss/common/sponsor.scss */
.sponsor-guide-summary ul {
  margin: 5px 25px;
  line-height: 1.6em;
}
/* line 12, ../../../_scss/common/sponsor.scss */
.sponsor-guide-summary ul li::before {
  content: "・";
}
/* line 17, ../../../_scss/common/sponsor.scss */
.sponsor-guide-summary .btn {
  display: block;
  width: 200px;
  margin: 15px auto 0 !important;
  padding: 12px 0;
  border: 1px solid  #222;
  text-decoration: none;
  text-align: center;
  color: #222;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
/* line 27, ../../../_scss/common/sponsor.scss */
.sponsor-guide-summary .btn:hover {
  background: #222;
  color: #eee;
}

/* line 35, ../../../_scss/common/sponsor.scss */
.sponsor-list-wrapper h3 {
  position: relative;
  display: block;
  width: 960px;
  max-width: 95%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(69, 69, 69, 0.6), 0 2px 1px rgba(57, 57, 57, 0.6);
  line-height: 60px;
  color: #d9d9d9;
  z-index: 10;
}
/* line 49, ../../../_scss/common/sponsor.scss */
.sponsor-list-wrapper .content-session {
  margin-top: 5px;
  margin-bottom: 25px;
}

/* line 56, ../../../_scss/common/sponsor.scss */
.sponsor-list .list-wrapper {
  position: relative;
}
/* line 59, ../../../_scss/common/sponsor.scss */
.sponsor-list .sponsor-item {
  position: absolute;
}
/* line 62, ../../../_scss/common/sponsor.scss */
.sponsor-list img {
  width: 100%;
  height: 100%;
}
/* line 66, ../../../_scss/common/sponsor.scss */
.sponsor-list .sponsor-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}
/* line 73, ../../../_scss/common/sponsor.scss */
.sponsor-list .sponsor-link::before {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background: rgba(25, 25, 25, 0.7);
  font-family: FontAwesome;
  color: #eee;
  text-shadow: 1px 1px 1px #555;
  font-size: 10px;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 86, ../../../_scss/common/sponsor.scss */
.sponsor-list .sponsor-link[href*="http"]::before {
  content: "\f08e";
}
/* line 91, ../../../_scss/common/sponsor.scss */
.sponsor-list .sponsor-link[href^="mailto:"]::before {
  content: "\f003";
}
/* line 96, ../../../_scss/common/sponsor.scss */
.sponsor-list .sponsor-link:hover::before {
  opacity: 0.2;
}
